.date-container{
    background-color: rgb(4, 1, 29);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    color: antiquewhite;
}
.start-button{
    background-color: white;
    font-size: 18;
    border-radius: 4px;
    padding: 25px;
    max-width: 200px;
    cursor: pointer;
    margin-top: 40px;
}
.display{
    font-size: 24px;
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(4, 1, 29);
    color: antiquewhite;
}


