:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}
.title-container{
    background-color: #002647;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 0;
}
.card-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px;
    padding: 60px;
    flex-wrap: wrap; 
}
.card {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-title {
    font-size: 24px;
    color: #213547;
    margin-bottom: 16px;
}
.card-subtitle {
    font-size: 16px;
    color: #646cff;
    margin-bottom: 24px;
}
.card-actions {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 20px;
}
.card-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #646cff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 1 35%;
}
.title-container {
    display: grid;
    place-items: center;
}
.main-title {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.register-button{
    color: #202129;
    background-color: #f2f2f2;
    width: 400px; 
    border-radius: 7px;
    height: 40px;
    border: none;
    &:hover {
      color: #202129;
      background-color: #e1e2e2;
      opacity: 1;
    }
}
body, html {
    margin: 0;
    padding: 0;
}